@import '../scss/variables';

.landingPage {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 0 5vw 15vh;
    h1 {
        font-size: min(8rem, 14vw);
        width: 50%;
        z-index: 999;
        white-space: normal;
        min-width: min-content;
        text-align: left;
    }
    img {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: -100;
        height: 100vh;
        max-height: none;
        width: 100%;
        object-fit: cover;
        object-position: 85%;
    }
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(
            45deg,
            $overlayWhite,
            $overlayWhite,
            $overlayWhite,
            $overlayWhite
        );
        z-index: -50;
    }
    aside {
        padding: 0 0 0 10%;
        text-align: right;
        font-family: $fontFamilyPlayfairDisplay;
        p:first-of-type {
            font-size: 1.6rem;
        }
        a {
            margin-top: 1rem;
            font-family: $fontFamilyInter;
            color: $darkGray;
            text-decoration: underline;
            text-transform: uppercase;
        }
    }
}

@media screen and (max-width: 1080px) {
    .landingPage {
        padding: 0 5vw;
        aside {
            display: none;
        }
        h1 {
            margin: 0;
        }
    }
}

@media screen and (max-width: 768px) {
    .landingPage {
        h1 {
            padding-bottom: 5vh;
        }
    }
}
