@import '../scss/variables';

.landingPage {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 5vw;
    h1 {
        font-size: min(8rem, 14vw);
        width: 50%;
        z-index: 999;
        white-space: normal;
        min-width: min-content;
        text-align: left;
    }
    img {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: -100;
        height: 100vh;
        max-height: none;
        width: 100%;
        object-fit: cover;
        object-position: 85%;
    }
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(
            45deg,
            $overlayWhite,
            $overlayWhite,
            #ffffff00,
            $overlayWhite
        );
        z-index: -50;
    }
}

@media screen and (max-width: 1080px) {
    .landingPage {
        h1 {
            margin: 0;
        }
    }
}

@media screen and (max-width: 768px) {
    .landingPage {
        justify-content: flex-end;
        h1 {
            padding-bottom: 5vh;
        }
    }
}
