.services {
    height: 100%;
    min-height: min-content;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    padding: 0 10%;

    section {
        display: flex;
        flex-flow: row nowrap;
    }

    h2 {
        margin-bottom: 1rem;
    }

    p {
        margin-bottom: 0.5rem;
    }

    ul {
        list-style: square;
        padding: 0;
        max-width: 50%;
    }

    img {
        height: min(60vh, 35vw);
        // width: 25vw;
        object-fit: cover;
        object-position: 0;
    }
}

@media screen and (max-width: 768px) {
    .services {
        padding: 10% 10% 0;
        justify-content: start;
    }
}

@media screen and (max-width: 1080px) {
    .services {
        overflow-y: scroll;
        section {
            display: flex;
            flex-flow: column nowrap;
        }
        ul {
            max-width: 100%;
        }
        img {
            max-height: 200px;
            height: auto;
            width: 80vw;
            object-fit: cover;
        }
    }
}
