@import '../scss/_variables.scss';

footer {
    height: 6vh;
    min-height: fit-content;
    width: 100%;
    font-size: 0.8rem;
    font-family: $fontFamilyInter;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    border-top: 1px solid $midtoneGray;
    div {
        color: $midtoneGray;
        margin: auto;
    }
}
