@import '../scss/variables';

footer {
    height: 4vh;
    min-height: fit-content;
    width: 100%;
    font-size: 0.8rem;
    font-family: $fontFamilyInter;
    span {
        display: block;
        width: 200px;
        height: 20px;
        margin: 0 auto;
    }
}
