@import '../scss/variables';

header {
    height: 8vh;
    min-height: fit-content;
    width: 100%;
    padding: min(0.6rem, 1vh) 5vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $darkGray;

    nav {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        #toggler,
        label[for='toggler'] {
            display: none;
        }

        ul {
            margin: 0;
            display: flex;
            justify-content: space-between;
            list-style: none;
        }

        a {
            text-decoration: none;
            margin: 0 min(1vw, 1rem);
            color: $darkGray;
            transition: all 0.1s ease-in;
            white-space: nowrap;
            &:hover,
            &:active {
                color: $darkGray;
                text-decoration: underline;
                text-decoration-color: $midtoneGray;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    header nav {
        ul {
            display: none;
        }
        label[for='toggler'] {
            width: 100%;
            display: inline-flex;
            cursor: pointer;
        }

        #toggler:checked ~ ul {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;
            position: fixed;
            top: 8vh;
            right: 0;
            padding: 1vh 5vw 0;
            z-index: 500;

            a {
                margin: 0;
            }
        }
    }
}
