@import '../scss/variables';

h1.logoBrand {
    font-size: 1.6rem;
    font-weight: 500;
    font-family: $fontFamilyPlayfairDisplay;
    color: $darkGray;
    min-width: fit-content;
    white-space: nowrap;
}
