@import '~bootstrap/scss/bootstrap';
@import './scss/_variables';

.App {
    margin: 0;
    padding: 0;
    height: min(100vh, 100%);
    font-family: $fontFamilyInter;
}

h1 {
    font-family: $fontFamilyPlayfairDisplay;
    font-weight: 600;
}
