@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;800;900&family=Playfair+Display:wght@400;500;600&display=swap');

$fontFamilyInter: 'Inter', sans-serif;
$fontFamilyPlayfairDisplay: 'Playfair Display', serif;

$darkGray: #212529;
$midtoneGray: #495057;
$lightGray: #ced4da;
$lightGrayAlpha: #ced4daaa;

$accentColor: aquamarine;

$overlayWhite: rgba(255, 255, 255, 0.8);
